/* Theme colors based on https://www.stephango.com/flexoki  */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


:root {
    /* Set base tones */
    --base: #100F0F;        /* tx, dark bg */
    --base-950: #1C1B1A;    /* dark bg2 */
    --base-900: #282726;    /* dark ui */
    --base-850: #343331;    /* dark ui2 */
    --base-800: #403E3C;    /* dark ui3 */
    --base-700: #575653;    /* dark tx3 */
    --base-600: #6F6E69;    /* tx2 */
    --base-500: #878580;    /* dark tx2 */
    --base-300: #B7B5AC;    /* tx3 */
    --base-200: #CECDC3;    /* ui3, dark tx */
    --base-150: #DAD8CE;    /* ui2 */
    --base-100: #E6E4D9;    /* ui */
    --base-50: #F2F0E5;     /* bg2 */
    --paper: #FFFCF0;       /* bg */

    /* Set light theme accent colors */
    --re: #AF3029;
    --or: #BC5215;
    --ye: #AD8301;
    --gr: #66800B;
    --cy: #24837B;
    --bl: #205EA6;
    --pu: #5E409D;
    --ma: #A02F6F;

    /* Set dark theme accent colors */
    --re-dk: #D14D41;
    --or-dk: #DA702C;
    --ye-dk: #D0A215;
    --gr-dk: #879A39;
    --cy-dk: #3AA99F;
    --bl-dk: #4385BE;
    --pu-dk: #8B7EC8;
    --ma-dk: #CE5D97;
}


/*   ===== GENERAL =====   */

.rn-clr-background-primary {background-color: var(--paper);}

.rn-clr-background-secondary {background-color: var(--base-50)}

.rn-clr-background-accent {background-color: var(--base-200);}

.rn-clr-background-light-accent {background-color: var(--base-150);}

.rn-clr-content-primary {color: var(--base);}

.rn-clr-content-secondary {color: var(--base-600);}

.rn-clr-content-tertiary {color: var(--base-300);}

.rn-clr-content-accent {color: var(--ma);}



/*   ===== SIDEBAR =====   */


.rn-sidebar-add-button {
    color: var(--or);
}

.rn-sidebar-add-button:hover {
    border: 0.25em solid var(--base-150);
}

.rn-sidebar-counter {
    color: var(--pu);
} 



/*   ===== DOCUMENTS =====   */


/*   ===== EDITOR =====   */


.rn-editor__rem__body__text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    color: var(--base);
    line-height: 1.6rem;
}


/*   ----- Headings -----   */

.rn-editor__rem__body__text--h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
}

.rn-editor__rem__body__text--h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: normal;
}

.rn-editor__rem__body__text--h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
}


/*   ----- Highlighting -----   */

.rn-editor__rem__body--red {background-color: var(--re-dk);}
.rn-editor__rem__body--orange {background-color: Var(--or-dk);} 
.rn-editor__rem__body--yellow {background-color: var(--ye-dk);}
.rn-editor__rem__body--green {background-color: var(--gr-dk);}
.rn-editor__rem__body--blue {background-color: var(--bl-dk);}
.rn-editor__rem__body--purple {background-color: var(--pu-dk);}



/*   ===== QUEUE =====   */