/* Theme colors based on https://www.stephango.com/flexoki  */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');


:root {
    /*  Set base tones  */
    --base: #100F0F;        /* tx, dark bg */
    --base-950: #1C1B1A;    /* dark bg2 */
    --base-900: #282726;    /* dark ui */
    --base-850: #343331;    /* dark ui2 */
    --base-800: #403E3C;    /* dark ui3 */
    --base-700: #575653;    /* dark tx3 */
    --base-600: #6F6E69;    /* tx2 */
    --base-500: #878580;    /* dark tx2 */
    --base-300: #B7B5AC;    /* tx3 */
    --base-200: #CECDC3;    /* ui3, dark tx */
    --base-150: #DAD8CE;    /* ui2 */
    --base-100: #E6E4D9;    /* ui */
    --base-50: #F2F0E5;     /* bg2 */
    --paper: #FFFCF0;       /* bg */

    /*   Set light theme accent colors   */
    --re: #AF3029;
    --or: #BC5215;
    --ye: #AD8301;
    --gr: #66800B;
    --cy: #24837B;
    --bl: #205EA6;
    --pu: #5E409D;
    --ma: #A02F6F;

    /*   Set dark theme accent colors    */
    --re-dk: #D14D41;
    --or-dk: #DA702C;
    --ye-dk: #D0A215;
    --gr-dk: #879A39;
    --cy-dk: #3AA99F;
    --bl-dk: #4385BE;
    --pu-dk: #8B7EC8;
    --ma-dk: #CE5D97;
}



/*          ##### GLOBALS #####         */


/*          +++++ Backgrounds +++++      */

.rn-clr-background-primary {background-color: var(--paper);}
.dark .rn-clr-background-primary {background-color: var(--base);}

.rn-clr-background-secondary {background-color: var(--base-50)}
.dark .rn-clr-background-secondary {background-color: var(--base-950)}

.rn-clr-background-tertiary {background-color: var(--base-500);}
.dark .rn-clr-background-tertiary {background-color: var(--base-600);}

.rn-clr-background-accent,
.rn-clr-background-overlay-light {background-color: var(--base-200);}
.dark .rn-clr-background-accent,
.rn-clr-background-overlay-dark {background-color: var(--base-800);}

.rn-clr-background-light-accent {background-color: var(--base-150);}
.dark .rn-clr-background-light-accent {background-color: var(--base-850);}

.rn-clr-background-inverse-primary {background-color: var(--base-900);}
.dark .rn-clr-background-inverse-primary {background-color: var(--base-100);}

.rn-clr-background-inverse-secondary {background-color: var(--base-850);}
.dark .rn-clr-background-inverse-secondary {background-color: var(--base-150);}

.rn-clr-background-warning {background-color: var(--or);}
.dark .rn-clr-background-warning {background-color: var(--or-dk);}

.rn-clr-background-light-warning {background-color: var(--ye);}
.dark .rn-clr-background-light-warning {background-color: var(--ye-dk);}

.rn-clr-background-elevation-5 {background-color: var(--base-50);} 
.rn-clr-background-elevation-10 {background-color: var(--base-100);}
.rn-clr-background-elevation-15 {background-color: var(--base-150);}
.rn-clr-background-elevation-20 {background-color: var(--base-200);}
.rn-clr-background-elevation-30 {background-color: var(--base-300);}
.rn-clr-background-elevation-40,
.rn-clr-background-elevation-50 {background-color: var(--base-500);}
.rn-clr-background-elevation-60 {background-color: var(--base-600);}
.rn-clr-background-elevation-70 {background-color: var(--base-700);}
.rn-clr-background-elevation-80 {background-color: var(--base-800);}
.rn-clr-background-elevation-90 {background-color: var(--base-850);}
.rn-clr-background-elevation-100 {background-color: var(--base-900);}

.dark .rn-clr-background-elevation-5 {background-color: var(--base-950);} 
.dark .rn-clr-background-elevation-10 {background-color: var(--base-900);}
.dark .rn-clr-background-elevation-15 {background-color: var(--base-850);}
.dark .rn-clr-background-elevation-20 {background-color: var(--base-800);}
.dark .rn-clr-background-elevation-30 {background-color: var(--base-700);}
.dark .rn-clr-background-elevation-40,
.dark .rn-clr-background-elevation-50 {background-color: var(--base-600);}
.dark .rn-clr-background-elevation-60 {background-color: var(--base-500);}
.dark .rn-clr-background-elevation-70 {background-color: var(--base-300);}
.dark .rn-clr-background-elevation-80 {background-color: var(--base-200);}
.dark .rn-clr-background-elevation-90 {background-color: var(--base-150);}
.dark .rn-clr-background-elevation-100 {background-color: var(--base-100);}

.rn-clr-background-negative,
.rn-clr-background-positive,
.rn-clr-background-light-positive,
.rn-clr-background-light-negative,
.rn-clr-background-state-disabled,
.rn-clr-background-always-dark,
.rn-clr-background-always-light,
.rn-clr-background-logo-color {background-color: lime;}


/*          +++++ Content (Text) +++++      */

.rn-clr-content-on-color,
.rn-clr-content-primary {color: var(--base);}
.dark .rn-clr-content-primary {color: var(--base-200);}

.rn-clr-content-secondary {color: var(--base-600);}
.dark .rn-clr-content-secondary {color: var(--base-500);}

.rn-clr-content-tertiary {color: var(--base-300);}
.dark .rn-clr-content-tertiary {color: var(--base-700);}

.rn-clr-content-on-color-inverse,
.rn-clr-content-accent {color: var(--base-200);}

.rn-clr-content-inverse-primary {color: var(--base-200);}

.rn-clr-content-inverse-secondary {color: var(--base-500);}

.rn-clr-content-inverse-tertiary {color: var(--base-700);}

.rn-clr-content-warning {color: var(--or);}

.rn-clr-content-state-disabled {color: var(--bl);}

.rn-clr-content-state-warning {color: var(--re);}

.rn-clr-content-negative,
.rn-clr-content-positive,
.rn-clr-content-logo-color,
.rn-clr-content-second {color: hotpink}


/*          +++++ Borders +++++      */

.rn-clr-border-selected,
.rn-clr-border-opaque {border-color: var(--base-200);}

.rn-clr-border-warning {border-color: var(--base-200);}

.rn-clr-border-state-disabled,
.rn-clr-border-accent {border-color: var(--base-150);}

.rn-clr-border-light-accent,
.rn-clr-border-accent-light {border-color: var(--base-100);}


.rn-clr-border-inverse-opaque,
.rn-clr-border-inverse-selected {border: solid 0.2rem var(--base-800);}

.rn-clr-border-positive,
.rn-clr-border-negative {border-color: hotpink;}   /* Change when you know where these elements actually used */


/*          +++++ Shadows +++++      */

.rn-clr-shadow-default,
.rn-clr-shadow-modal,
.rn-clr-shadow-menu {background-color: var(--base-100);} 
.dark .rn-clr-shadow-menu {background-color: var(--base-900);} 

.rn-clr-shadow-close-keyboard-menu,
.rn-clr-shadow-card {background-color: var(--base-150);}
.dark .rn-clr-shadow-card {background-color: var(--base-850);}

.rn-clr-shadow-menu {background-color: var(--base-200);}
.dark .rn-clr-shadow-menu {background-color: var(--base-800);}

.rn-clr-shadow-elevation-5 {background-color: var(--base-50);}
.rn-clr-shadow-elevation-10 {background-color: var(--base-100);}
.rn-clr-shadow-elevation-15 {background-color: var(--base-150);}
.rn-clr-shadow-elevation-20 {background-color: var(--base-200);}
.rn-clr-shadow-elevation-30 {background-color: var(--base-300);}
.rn-clr-shadow-elevation-40 {background-color: var(--base-400);}
.rn-clr-shadow-elevation-50 {background-color: var(--base-500);}


/*          ##### SIDEBAR #####         */


.rn-sidebar {
    border-right: 0.2rem solid var(--base-100);
}

.rn-sidebar-add-button {color: var(--or);}
.dark .rn-sidebar-add-button {color: var(--or-dk);}


.rn-sidebar-add-button:hover {
    border: 0.15em solid var(--base-150);
}

.rn-sidebar-counter {color: var(--pu);} 
.dark .rn-sidebar-counter {color: var(--pu-dk);} 


/*          ##### DOCUMENTS #####         */


.rn-doc-title {
    font-family: "Playfair", serif;
    font-weight: normal;
    font-style: normal;
}


/*          ##### EDITOR #####         */


.rn-editor__rem__body__text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    color: var(--base);
    line-height: 1.6rem;
}

.dark .rn-editor__rem__body__text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    color: var(--base-200);
    line-height: 1.6rem;
}


.rn-rem-reference {
    color: var(--cy);
    font-weight: 450;
} 

.dark .rn-rem-reference {
    color: var(--cy-dk);
    font-weight: 450;
} 

.rn-editor__rem__body--todo-finished {text-decoration: none;}


/*      ----- Block Quote -----     */

.rn-quote-content {
    border-left: 0.5rem solid var(--gr);
    background-color: var(--base-150);
    padding: 1em 3em 1em;
    }

.dark .rn-quote-content {
    border-left: 0.5rem solid var(--gr);
    background-color: var(--base-850);
    padding: 1em 3em 1em;
    }

.rn-quote-inner {font-family: "Montaga", serif;}


/*      ----- Headings -----        */

.rn-editor__rem__body__text--h1 {
    font-family: "Karla", sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
}

.rn-editor__rem__body__text--h2 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

.rn-editor__rem__body__text--h3 {
    font-family: "Karla", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
}


/*      ----- Highlighting -----     */

.rn-editor__rem__body--red {background-color: var(--re-dk);}
.rn-editor__rem__body--orange {background-color: Var(--or-dk);} 
.rn-editor__rem__body--yellow {background-color: var(--ye-dk);}
.rn-editor__rem__body--green {background-color: var(--gr-dk);}
.rn-editor__rem__body--blue {background-color: var(--bl-dk);}
.rn-editor__rem__body--purple {background-color: var(--pu-dk);}

.dark .rn-editor__rem__body--orange {background-color: Var(--or);} 
.dark .rn-editor__rem__body--red {background-color: var(--re);}
.dark .rn-editor__rem__body--yellow {background-color: var(--ye);}
.dark .rn-editor__rem__body--green {background-color: var(--gr);}
.dark .rn-editor__rem__body--blue {background-color: var(--bl);}
.dark .rn-editor__rem__body--purple {background-color: var(--pu);}


/*          ##### QUEUE #####         */


