/* Theme colors based on https://www.stephango.com/flexoki  */


:root {
    /* Set base tones */
    --base: #100F0F; 
    --paper: #FFFCF0;
    --bg-2: 5%;
    --ui: 10%;
    --ui-2: 15%;
    --ui-3: 20%;
    --tx-3: 30%;
    --tx-2: 60%;
    --dark-bg-2: 95%;
    --dark-ui: 90%;
    --dark-ui-2: 85%;
    --dark-ui-3: 80%;
    --dark-tx-3: 70%;
    --dark-tx-2: 50%;
    --dark-tx: 20%;

    /* Set light theme accent colors */
    --re: #AF3029;
    --or: #BC5215;
    --ye: #AD8301;
    --gr: #66800B;
    --cy: #24837B;
    --bl: #205EA6;
    --pu: #5E409D;
    --ma: #A02F6F;

    /* Set dark theme accent colors */
    --re-dk: #D14D41;
    --or-dk: #DA702C;
    --ye-dk: #D0A215;
    --gr-dk: #879A39;
    --cy-dk: #3AA99F;
    --bl-dk: #4385BE;
    --pu-dk: #8B7EC8;
    --ma-dk: #CE5D97;
}


/*   ===== GENERAL =====   */

.rn-clr-background {background-color: hotpink;}

.rn-clr-background-primary {background-color: var(--paper);}

.rn-clr-background-secondary {
    background-color: var(--base);
    opacity: var(--bg-2);
}

.rn-clr-background-accent {
    background-color: var(--base);
    opacity: var(--ui-3);
}

.rn-clr-background-light-accent {
    background-color: var(--base);
    opacity: var(--ui-2);
}

.rn-clr-background-elevation-10 {
    background-color: var(--base);
    opacity: var(--ui);
}

.rn-clr-content-primary {color: var(--base);}

.rn-clr-content-secondary {
    color: var(--base);
    opacity: var(--tx-2);
}

.rn-clr-content-accent {
    color: var(--base);
    opacity: var(--tx-3);
}
